@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;    
}

body {
    background-color:  hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    width: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

main {
    margin: 70px 70px 50px 80px;
}

header {
    margin-bottom: 70px ;
}

header img {
    width: 200px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
    grid-gap: 40px;
}

.illustration {
    grid-area: a;
}

.content {
    grid-area: b;
}

h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 45px 0 23px 0;
}

.par {
    font-size: 15.5px;
    line-height: 1.5;
}

button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    color: hsl(257, 40%, 49%);
    font-size: 19px;
    box-shadow: 3px 3px 3px 2px rgb(0 0 0 / 20%);
    margin-top: 30px;
}

button:hover {
    background-color:hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
}

i {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 11px;
    margin-left: 20px;
}

i:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
    cursor: pointer;
}

.handles {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

footer {
    margin: 30px 0 20px 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-top: 40px;
    font-size: 14px;
}
    
.attribution a { 
    color: hsl(300, 69%, 71%); 
    text-decoration: none;
    font-size: 14px;
}

@media (max-width: 760px) {
    body {
        background-image: url(./images/bg-mobile.svg);
        background-repeat: no-repeat;
        text-align: center;
    }

    main {
        margin: 30px 40px 30px 40px;
    }

    header {
        margin-bottom: 50px;
    }

    header img {
        width: 130px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b";
        width: 100%;
    }

    .illustration {
        grid-area: a;
        width: 100%;
        margin-bottom: 30px;
    }

    .illustration img {
        width: 100%;
    }

    .content {
        grid-area: b;
        width: 100%;
    }
    
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
    
    p {
        font-size: 0.97em;
        text-align: center;
        margin-top: 10px;
    }
    
    button {
        width: 50%;  
    }

    .handles {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }


    
   
}

